.visitor{
  margin-top: 50px;
  .visitor-suptitle{
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000080;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .visitor-title{
    text-align: center;
    color: #ab7f19;
    font-size: 38px;
    margin-bottom: 30px;
  }

  .visitor-paragraph{
    text-align: center;
    margin: 20px 0px;
    font-size: 15px;
  }
}