.getting-here{
  margin-top: 50px;


  .getting-here-main{

    .getting-here-title{
      font-size: 38px;
      color: #ab7f19;
      text-align: center;
      margin-bottom: 40px;
    }

    .getting-here-block{
      z-index: -10;
      margin-bottom: 100px;
    }
  }
}
